.MainView {
    background-image: linear-gradient(358.4deg, rgba(249, 151, 119, 1) -2.1%, rgba(98, 58, 162, 1) 90%);
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .filterDiv {
        width: 100%;
        display: flex;
        justify-content: center;
        .filterButton {
            width: 115px;
            height: 40px;
            font-size: 22px;
            margin: 10px;
            border-radius: 5px;
            border: none;
            background: rgb(154, 255, 1);
            font-weight: 700;
            .searchIcon {
                margin-right: 10px;
            }
            &:hover {
                transition: 0.4s;
                background: rgb(243, 230, 175);
                cursor: pointer;
            }
        }
        .filterInput {
            margin-left: 115px;
            width: 350px;
            height: 35px;
            border-radius: 7px;
            border: none;
            text-align: center;
            font-size: 24px;
            display: flex;
            margin-block: auto;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            &::placeholder {
                font-size: 24px;
            }
        }
    }
    .itemsUl {
        list-style: none;
        left: 0;
        right: 0;
        margin: 125px auto;
        min-height: 350px;
        li {
            padding-top: 15px;
            height: 55px;
            font-size: 24px;
            border-radius: 7.5px;
            margin-block: 10px;
            text-align: center;
            width: 750px;
            display: flex;
            justify-content: center;
            font-weight: 500;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

            &:nth-child(1) {
                animation: swing 12s infinite;
            }
            &:nth-child(3) {
                animation: swing 12s infinite;
            }
            &:nth-child(5) {
                animation: swing 12s infinite;
            }
            &:nth-child(2) {
                animation: swingReverse 12s infinite;
            }
            &:nth-child(4) {
                animation: swingReverse 12s infinite;
            }
            span {
                font-weight: 700;
                margin-inline: 35px;
                color: rgb(53, 38, 38);
            }
        }
    }
    .pagination {
        .arrowIcon {
            margin-block: auto;
            margin-inline: 25px;
            font-size: 32px;
            border: 2px solid #fff;
            background: rgb(28, 126, 36);
            padding: 5px;
            border-radius: 10px;
            box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 6px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
            animation: shine 3s infinite;
            &:hover {
                color: rgb(28, 126, 36);
                transition: 0.5s;
                background: #fff;
                cursor: pointer;
            }
        }
        margin-top: 55px;
        letter-spacing: 7.5px;
        width: 100%;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-direction: row;
        font-size: 22px;
        font-weight: 500;
        left: 0;
        right: 0;
        margin-inline: auto;
    }
}

@keyframes shine {
    50% {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px,
            rgba(17, 17, 26, 0.1) 0px 24px 80px;
    }
}

@keyframes swing {
    50% {
        margin-left: -2.5px;
    }
}
@keyframes swingReverse {
    50% {
        margin-left: 2.5px;
    }
}
